@charset "utf-8";
/* CSS Document */
html,
body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
  height: 100%;
}

#container { min-height: 100%; position: relative;}
#centercontainer { padding-top: 70px; padding-bottom: 70px;}
#bottomframe { width: 100%; height: 70px; background-color: #0089A7; position: absolute; bottom: 0;}


.topimg { position: fixed; top: 5px; left: 100px; width: 130px; height: 60px; z-index: 1000; }
.frame { width: 100%; height: 500px; margin: 0px; border-bottom: 1px #CCCCCC solid;}
.middleframe { width: 1000px; height: 100%; margin: 25px auto 0px;}
.smallframe { width: 100%; height: 50px; margin: 0px;}
.title { font-size:36px; font-family: Microsoft JhengHei; font-weight: 500; text-align: left;}
.text { font-size:16px; font-family: Microsoft JhengHei; color: #666;}


.icon { width: 40px; height: 40px; margin-top: 5px; text-align: center; vertical-align: top; float: left;}
.content { width: 400px; margin-left: 10px; text-align: left; float: left;}

.originalhover { min-width: 100%; height: 300px;}
.originalhover2 { min-width: 100%; height: 700px;}

