@charset "utf-8";
/* CSS Document */

.view {
    width: 300px;
    height: 250px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../image/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
	font-family: Microsoft JhengHei;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 5px;
   /* background: rgba(0, 0, 0, 0.8);*/
    margin: 10px 0 0 0
}
.view p {
    font-family: Microsoft JhengHei;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 40px 0px;
	line-height: 24px;
    text-align: left
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    /*padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
	*/
	background-image: url(../image/up-arrow.png);
	background-size: contain;
	margin-top: 55px;
	margin-left: 240px;
	width: 30px;
	height: 30px;
}
.view a.info:hover {
	filter: drop-shadow(1px 1px 1px black);
    /*box-shadow: 0 0 5px #000*/
}

